<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/index_product_style.css}" type="text/css" rel="stylesheet">
</head>
<header>
    <div>
        <a href="/index">ShopGames</a>
    </div>

    <div class="btn-group">
        <button class="btn btn-secondary btn-lg" type="button">
            Личный кабинет
        </button>
        <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <form method="get" th:action="@{/orders}">
                    <input type="submit" class="dropdown-item" value="Заказы">
                </form>
            </li>
            <li>
                <form method="get" th:action="@{/cart}">
                <input type="submit" class="dropdown-item" value="Корзина">
                </form>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" class="dropdown-item" value="Выйти">
                </form>
            </li>

        </ul>
    </div>
</header>
<body>
<form id="form" th:method="POST" th:action="@{/product/search1}">
    <fieldset class="row g-3">
        <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
        <div class="col-12">
            <label for="search1" class="form-label" >Поиск по наименованию</label>
            <input class="form-control" type="search" name="search1"  th:value="*{value_search1}" id="search1">
        </div>
        <p>Цена, ₽</p>
        <div class="col-md-6">
            <label for="ot1" class="form-label">От</label>
            <input class="form-control" type="text" name="ot1"  th:value="*{value_price_ot1}" id="ot1">
        </div>
        <div class="col-md-6">
            <label for="do1" class="form-label">До</label>
            <input class="form-control" type="text" name="do1"  th:value="*{value_price_do1}" id="do1">
        </div>
        <br>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
            <label class="form-check-label" for="ascending_price">Отсортировать по возрастанию цены</label>
        </div>
        <br>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
            <label class="form-check-label" for="descending_price">Отсортировать по убыванию цены</label>
        </div>
        <h3>Категории игр: </h3>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="child" name="category" value="child">
            <label class="form-check-label" for="child">Детские</label>
        </div>
        <br>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="party" name="category" value="party">
            <label class="form-check-label" for="party">Вечериночные</label>
        </div>
        <br>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="detect" name="category" value="detect">
            <label class="form-check-label" for="detect">Детективные</label>
            <br>
            <br>
        </div>
        <input class="form-control add" type="submit" value="Найти">
    </fieldset>
</form>
<h3>Результат: </h3>
<div class="row justify-content-right">
    <div class="cart-item col-md-6 col-sm-8" th:each="product : ${search_product1}">
        <img class="cart-img" th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <br>
        <a class="cart-info" th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p class="cart-info" th:text="'Цена: ' + ${product.getPrice()}"></p>
    </div>
</div>
<hr>
<h3>Доступные товары: </h3>
<div class="row justify-content-center">
    <div class="cart-item col-md-3 col-sm-8" th:each="product : ${products}">
        <img class="cart-img" th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <br>
        <a class="cart-info" th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
        <p class="cart-info" th:text="'Цена: ' + ${product.getPrice()}"></p>
        <a class="cart-info" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>