body{
    background-color: white;
    color: black;
    font-family: "Calibri Light";
    font-size: 23px;
    margin: 5px;
    font-weight: inherit;
}
header{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 5px;
    font-size: 30px;
    text-decoration: none;
    background-color: rgba(3, 59, 59, 0.8);
    box-shadow: 0px 7px 14px 0px black;
    color: whitesmoke;
    font-family: "Calibri Light";
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    border-radius: 5px;
}
header a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    text-decoration: none;
    color: whitesmoke;
}
h3{

}
#form{
    margin: 20px;
}
.form-control{
    font-size: 20px;
    margin-bottom: 5px;
}
.add{
    background-color: rgba(3, 59, 59, 0.3) !important;
}
.cart-item{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    margin: 30px;
    transition: box-shadow 0.5s ease-in-out;
}
.cart-item:hover{
    box-shadow: 0px 7px 14px 0px black;
}
.cart-img{
    width: 200px;
    justify-self: center;
    border-radius: 20px;
}
.cart-info{
    justify-self: center;
    text-align: center;
}
.cart-item a{
    justify-self: center;
    color: black;
    text-decoration: none;
    font-weight: 900;
}
.cart-item a:hover{
    color: black;
    text-decoration: underline dotted;
}
.cart-item p{
    border-radius: 70px;
    background-color: rgba(3, 59, 59, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 1px 0px black;
}